<div class="container-fluid bg-light min-vh-100 py-4">
  <div class="row">

    <div class="col-md-5">
      <div class="bg-white rounded p-4 mb-4">
        <h4 class="mb-3 text-center" style="font-weight:300;">Your Next Event</h4>
        <div class="mb-2"><strong>Event</strong>: Lorem ipsum dolor sit</div>
        <div class="mb-2"><strong>Date</strong>: 10/05/2030</div>
        <div class="mb-3"><strong>Location</strong>: Lorem ipsum</div>
      </div>

      <div class="bg-white rounded p-4">
        <h5 class="mb-3 text-center" style="font-weight:300;">Upcoming Events</h5>
        <div class="mb-2"><strong>Event</strong>: Lorem ipsum dolor sit</div>
        <div class="mb-2"><strong>Date</strong>: 10/05/2030</div>
        <div><strong>Location</strong>: Lorem ipsum</div>
      </div>
    </div>
      <div class="col-md-7 d-flex flex-column align-items-center">
            <div class ="banner mb-3"style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/topic_centers/2019-8/couple-hiking-mountain-climbing-1296x728-header.jpg?w=1155&h=1528);"></div>
            <div class="profile-image" style="background-image: url(<%= user_avatar_image(current_user) %>);"></div>

             <div class="mt-2 ps-5" style="font-size:2rem; font-weight:bold; letter-spacing:2px;">PROFILE</div>
      </div>

       <div class="bg-secondary rounded p-4 w-100 text-center text-dark" style="min-height:180px;">
        Personal information
      </div>

  </div>
</div>
