<h1 class="mb-4">Events In The Area</h1>
<div class="row">
  <!-- Left column for cards -->
  <div class="col-lg-8">
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-md-4">
          <div class="card">
            <%= link_to event_path(event), class: "clickable-container" do %>
              <%#= image_tag cl_image_path(event.photo.key, width: 300, height: 200, crop: :fill) %>
              <img class="card-image" src="https://cdn8.dissolve.com/p/D2012_164_052/D2012_164_052_1200.jpg" alt="runner">
              <div class="event-card-content">
                <h3 class="event-card-name"><%= event.name %></h3>
                <p class="event-card-date"><%= event.date %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-lg-4">
    <div
      class="d-flex align-items-center justify-content-center bg-light"
      style="min-height:400px; height:80vh; border-radius:0.25rem;"
    >
      <span class="text-muted">3D Map Placeholder</span>
    </div>
  </div>
</div>
