.card {
  position: relative;
  background-image: image-url("golden-border.PNG");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  transition: transform 0.2s;
  margin-bottom: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
}
