.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-top: 0.5px;
  padding-bottom: 0.5x;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 40px;
  margin-left: 10px;
}

.display-user {
  width: 50px;
  height: 50px;
  background-color: #0832A8; /* Google's blue */
  color: white;
  font-size: 32px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.navbar-nav .nav-link {
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: rgba(237, 99, 76, 1);
}

a {
  text-decoration: none;
}

.navbar {
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(237,64,0,0.2), rgba(12,154,174,0.5));
}
