.banner-profile {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-top: 150px;
  display: flex;
  width: 85%;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  margin-left: 100px;

}

.profile-image {
   align-items: center;
  text-align: center;

}
