// .banner {
//   background-size: cover;
//   background-position: center;
//   padding: 150px 0;
//   margin-top: 150px;
//   display: flex;
//   width: 85%;
//   align-items: center;
//    justify-content: center;
//   margin-left: 100px;

// }
// conflicts with _banner.scss

.profile-image {
   align-items: center;
  text-align: center;



}
.banner-show {
  height: 200px;
}

.profile-banner{
   height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  margin-top: 2rem; 
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.profile-icon {
  width: 80px;
  height: 80px;
  background-color: rgba(70, 18, 238, 0.8);
  border-radius: 50%;
  display: flex; //
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 0.5rem;
}
form {
  max-width: 500px;
  margin: 0 auto;
}

form .form-label {
  font-weight: bold;
}

form .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
